body {
    background-color: rgb(243, 242, 242);
} 
.cars {
    display: flex;
    align-items: center;
    margin: 90px 20rem;
   
  
}
.btn1{
    border-radius: 5rem;
    width: 7rem;
    height: 2rem;
    background-color: hsl(31, 77%, 52%);
    border: 2px solid white;
    color: white;
    margin-top: 1rem;

}
.btn2{
    border-radius: 5rem;
    width: 7rem;
    height: 2rem;
    background-color: hsl(184, 100%, 22%);
    border: 2px solid white;
    color: white;
    margin-top: 1rem;

}
.btn3 {
    border-radius: 5rem;
    width: 7rem;
    height: 2rem;
    background-color: hsl(179, 100%, 13%);
    border: 2px solid white;
    color: white;
    margin-top: 1rem;
}
.sedans {
    background-color: hsl(31, 77%, 52%);
    height: 50vh;
    width: 140vw;
    padding: 2rem 2rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    height: 50vh;
    width: 140vw;
    padding: 2rem 2rem;
}
.luxury {
    background-color: hsl(179, 100%, 13%);
    height: 50vh;
    width: 140vw;
    padding: 2rem 2rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
p{
    line-height: 25px;
    font-size: 15px;
    color: white;
    margin-top: 1rem;

}
h3 {
    color: white;
    margin-top: 1rem;
    font-size: 1.3rem;
}